@model ThatShot.Models.PictureGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="PictureGenre" asp-items="Model.Genres">
        <option value="">All</option>
        </select>

        Description: <input type="text" name="Searchstring" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pictures)
        {
            <tr>
               


                <td>
                    @* @Html.DisplayFor(modelItem => item.Url)
                    *@
                    <img src="~/demoImages/@item.Name" width="100px" height="100px" />

                    @*
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            <dt>
                avatar
            </dt>
            <dd>
                <img src="~/File?id=@model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            </dd>
        }
                    *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
