@*@model IEnumerable<ThatShot.Models.Picture> *@
@model ThatShot.Models.PictureGenreViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="PictureGenre" asp-items="Model.Genres">
        <option value="">All</option>
        </select>

        Description: <input type="text" name="Searchstring" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pictures[0].Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pictures)
        {
            <tr>
                +


                <td>
                    @* @Html.DisplayFor(modelItem => item.Url)
                        @{
                          var base64 = Convert.ToBase64String(item.Url);
                          var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        }
                    *@
                    <img src="@Url.Content(item.Url)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
